<connectionStrings>
	<add name="ExampleDb" connectionString="Data Source=LOCALHOST;Initial Catalog=DBExample;User id=Admin;password=Password1" providerName="System.Data.SqlClient" />
</connectionStrings>