
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Harness</h2>

<h3>Html Tags</h3>

<ul>
	<li>@(Html.Link<HtmlTagsController>(c => c.Index(), "Links"))</li>
</ul>