
@{
    ViewBag.Title = "Index";
}

<h2>Test Harness</h2>

<h3>Html Helpers</h3>

<ul>
	<li>@(Html.Link<HtmlTagsController>(c => c.Links(), "Link Helpers"))</li>
    <li>@(Html.Link<HtmlTagsController>(c => c.TagConventions(), "Html Tag Conventions"))</li>
</ul>